{% extends 'basic_M.html' %}
{%block title%}About{%endblock%}
{%block content%}


<div class="ab-container">
	<div class="ab-left" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;">
		<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/static/image/portrait.jpg" alt="Card image cap">
		<div class="card-body">
    <h5 class="card-title">Jujiaodata-AlienDove</h5>
    <p class="card-text">致力于数据分析.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">现居地: 上海</li>
    <li class="list-group-item">Email: laurelkang@163.com</li>
    <li class="list-group-item">Weibo: @放学楼顶Jian</li>
  </ul>
	</div>
	</div>
	<div class="ab-right">
		<div class="jumbotron jumbotron-fluid">
			<div class="container" id="abt-container">
				<h1 class="display-4">About Us</h1>
				<p class="lead" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;text-indent: 2em">
					Word Manual提供了单词整理和单词听写等功能，很大程度上能够为学英语背单词的群体带去方便.</p>
					<h3 class="display-6">关于 Word Manual</h3>
					<p class="lead" style="font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;text-indent: 2em">Word Manual现阶段分为单词录入、听写本和单词查阅三个功能，均需登录后使用.<br>

					#单词录入#&nbsp&nbsp主要帮助有生词积累习惯的用户，将生词写在本上大概是十年前比较流行的做法，随着互联网的普及，这一切应该得到改善. Word Manual为每个用户建立个人词库，这一切都将通过单词录入模块输入到本系统中;<br>

					#听写本#&nbsp&nbsp系统会对用户听写此前录入的内容，单词的中文解释会随机产生，对于错误率比较高的生词，出现的频率会相应地大幅度增加，当然，Word Manual自身不具备词汇检测系统，系统判断的依据是用户在单词录入模块的输入，所以请确保输入正确.<br>

					#单词查阅#&nbsp&nbsp用户可以总览所有录入的单词和听写的成绩，如果您对我们的数据库不放心(开个玩笑，我们的数据库没问题的)，也可以通过打印机打印它们，便于离线使用和发现问题.<br>

					#BUG反馈#&nbsp&nbsp欢迎大家反馈关于Word Manual的任何使用问题或是改进意见，我都将在技术能力范围内予以高度重视随即认真修改.</p>
			</div>
		</div>
	</div>
</div>
{%endblock%}