body, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, i, li, ol, p, ul {
    margin: 0;
    padding: 0;
}
div #footer {
    position: fixed;
    background-color: rgba(43, 166, 166, 0.5);
    color: #FFF;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
